<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tasks</title>
</head>
<body>
<div th:if="not ${allTasks.isEmpty()}">
    <h1>All tasks</h1>

    <h2><a th:href="@{/add_task}">Add Task!</a></h2>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Duration</th>
        </tr>
        <tr th:each="task: ${allTasks}" th:object="${task}">
            <td th:text="*{id}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{duration}"></td>
        </tr>
    </table>
</div>
<div th:if="${allTasks.isEmpty()}">
    <h1>There is no data yet</h1>

    <h2><a th:href="@{/add_task}">Add Task!</a></h2>
</div>
</body>
</html>